:root {
  --shadowbox: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.container {
  padding: 10px 4rem;
}

.contact-app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadowbox);
  padding: 10px 4rem;
}

.contact-app_header h1 {
  font-size: 1.6rem;
  color: black;
}

.contact-app_logo {
  display: flex;
  align-items: center;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: black;
}

.icon {
  font-size: 28px;
  color: black;
}

.homepage_addbtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 4rem 2rem 0;
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.navigation_icon:hover {
  color: orangered;
  transition: all 0.3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.homepage_addbtn:hover {
  background-color: orangered;
  animation: bounce 1.5s;
}

.homepage_addbtn_icon {
  font-size: 1.5rem;
  color: white;
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 1rem;
}

.search-bar {
  margin-top: 8px;
  width: 50%;
  height: 2.5rem;
  font-size: medium;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadowbox);
}

.search-bar:focus {
  outline-color: grey;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 14px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  border-top: orangered 5px solid;
  box-shadow: var(--shadowbox);
  width: 280px;
  height: 200px;
  max-width: 250px;
  max-height: 300px;
  cursor: pointer;
}

.note-item:hover {
  background-color: lightgrey;
  transition: all 0.5s;
}

.note-item h3 {
  font-size: 1.2rem;
  color: black;
}

.note-item_desc {
  font-size: 1rem;
}

.note-item_date {
  font-size: 0.75rem;
  color: grey;
}

.text-center {
  text-align: center;
}