:root {
  --shadowbox: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.container {
  padding: 10px 4rem;
}

.contact-app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadowbox);
  padding: 10px 4rem;
}

.contact-app_header h1 {
  font-size: 1.6rem;
  color: black;
}

.contact-app_logo {
  display: flex;
  align-items: center;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: black;
}

.icon {
  font-size: 28px;
  color: black;
}

.homepage_addbtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 4rem 2rem 0;
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.navigation_icon:hover {
  color: orangered;
  transition: all 0.3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.homepage_addbtn:hover {
  background-color: orangered;
  animation: bounce 1.5s;
}

.homepage_addbtn_icon {
  font-size: 1.5rem;
  color: white;
}

.homepage, .archivepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 1rem;
}

.search-bar {
  margin-top: 8px;
  width: 50%;
  height: 2.5rem;
  font-size: medium;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadowbox);
}

.search-bar:focus {
  outline-color: grey;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
}

.note-item_link {
  text-decoration: none;
  color: black;
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 14px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  border-top: orangered 5px solid;
  box-shadow: var(--shadowbox);
  width: 280px;
  height: 200px;
  max-height: 200px;
  cursor: pointer;
}

.note-item:hover {
  background-color: lightgrey;
  transition: all 0.5s;
  scale: 1.03;
}

.note-item h3 {
  font-size: 1.2rem;
  color: black;
}

.note-item_desc {
  font-size: 1rem;
}

.note-item_date {
  font-size: 0.75rem;
  color: grey;
}

.text-center {
  text-align: center;
}

.detailpage {
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
  align-items: first baseline;
  gap: 1rem;
}

.detailpage .back-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: blue;
  font-size: large;
}

.detailpage h1 {
  font-size: 4rem;
  color: black;
}

.detailpage .detailpage_date {
  font-size: 1.2rem;
  color: rgb(117, 114, 114);
  margin-top: -5px;
}

.detailpage .detailpage_desc {
  font-size: 1.2rem;
}

.detailpage_actbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 30;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 6rem 3rem 0;
}

.detailpage_actbtn button {
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.detailpage_actbtn button:hover {
  background-color: orangered;
  animation: bounce 1.5s;
}

.red {
  background-color: rgb(217, 18, 18);
}

.black {
  background-color: black;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  margin: 0 0.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

/* toast */
.toast {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #323232;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4caf50;
  animation-name: progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* addpage */
.addpage {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addpage h1 {
  margin-bottom: 1rem;
}

.addpage form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

.addpage form div {
  margin-bottom: 1rem;
}

.addpage form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.addpage form input,
.addpage form textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.addpage form input {
  font-size: 2.5rem;
}

.addpage form textarea {
  height: 300px; 
}

.addpage form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.addpage form button:hover {
  background-color: #0056b3;
}

.errorpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.empty {
  font-size: 2rem;
  color: black;
  margin-top: 10rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .addpage {
    padding: 1rem;
  }

  .addpage form {
    width: 100%;
  }
}